<div class="cb-contact-form">
	<div class="cb-contact-form-container">
		<h2 class="center">How can we help you?</h2>

		<p class="center">{{ rec_block('Contact Form Text') }}</p>

		<form action="/pages/formbuild_processor.php?id=3" data-ajax-enabled="0" data-ajax-fade="0" data-ajax-success-text="" enctype="multipart/form-data" id="rec-form-3" method="post">
			<ul>
				<li class="rec-form-field-row rec-form-field-row-small_text" data-field-id="8">
                    <input type="text" name="input_field_8" id="input_field_8" placeholder="Name" required>
                    <span class="rec-form-required-marker">*</span>
				</li>
				<li class="rec-form-field-row rec-form-field-row-email" data-field-id="9">
					<input type="email" id="input_field_9" name="input_field_9" placeholder="Email" required />
					<span class="rec-form-required-marker">*</span>
				</li>
				<li class="rec-form-field-row rec-form-field-row-phone_number" data-field-id="11">
					<input type="tel" id="input_field_11" name="input_field_11" placeholder="Telephone Number" required />
					<span class="rec-form-required-marker">*</span>
				</li>
				<li class="rec-form-field-row rec-form-field-row-select_options" data-field-id="12">
					<select id="input_field_12" name="input_field_12" required>
						<option value="" disabled hidden selected>Select what you need</option>
                    	<option value="Commercial Services">Commercial Services</option>
                    	<option value="Industrial Services">Industrial Services</option>
                    	<option value="Domestic Installation">Domestic Installation</option>
                    	<option value="CCTV Installation">CCTV Installation</option>
                    	<option value="Design Services">Design Services</option>
                    	<option value="PAT Testing">PAT Testing</option>
                    	<option value="Maintenance">Maintenance</option>
					</select>
					<span class="rec-form-required-marker">*</span>
				</li>
				<li class="rec-form-field-row rec-form-field-row-large_text" data-field-id="10">
					<textarea class="rec-form-field rec-generic-field rec-form-field-med" id="input_field_10" name="input_field_10" placeholder="Enter details"></textarea>
				</li>
			</ul>

			<p id="rec_honeypot_hybrid_772">
                <label for="honeypot_hybrid_answer_772">To prove you're not a robot, whats 4 plus 5?</label>
                <input type="text" name="honeypot_hybrid_answer" id="honeypot_hybrid_answer_772" value="">
            </p>
			<p class="rec-form-footer-section">
				<input class="rec-form-button" type="submit" value="Send" />
			</p>
		</form>
	</div>
</div>