<div class="clearfix" id="hero-unit" class="layout-container">
	<div class="layout-container-inner">
		<div class="hero-unit-container">
			<h2>{{ rec_block('Home Hero Title') }}</h2>
			<h3 class="h2">{{ rec_block('Home Hero Subtitle') }}</h3>
			<p class="hero-unit-text">{{ rec_block('Home Hero Text') }}</p>
			<p class="hero-unit-phone">Call <a href="tel:01299825816">01299 825 816</a></p>
		</div>
	</div>
</div>
<div class="hero-unit-subline" class="layout-container">
	<div class="layout-container-inner">
		{{ rec_block('Home Hero Subline') }}
	</div>
</div>
