.cb-contact-form {
	margin-top: 50px;
}
.cb-contact-form h2 {
	text-transform: uppercase;
	text-align: center;
}
.cb-contact-form form ul {
	list-style: none;
	padding: 0;
}
.cb-contact-form form input:not(.rec-form-button),
.cb-contact-form form select,
.cb-contact-form form textarea {
	width: 100%;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.cb-contact-form form select:invalid {
	color: rgb(117, 117, 117);
}
.cb-contact-form .rec-form-footer-section {
	text-align: center;
}
.cb-contact-form .generated_button, 
.cb-contact-form .pagination a, 
.cb-contact-form button, 
.cb-contact-form input[type="submit"], 
.cb-contact-form input[type="button"], 
.cb-contact-form input[type="reset"] {
	padding: 0.8em 2em;
}

@media screen and (min-width: 35.5em) {
	.cb-contact-form {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		left: calc(50% + 1em);
		width: auto;
		padding: 10px;
		margin: 0;
	}
	.cb-contact-form .cb-contact-form-container {
		border: 8px solid $background-red;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		background: #FFF;
		padding: 5px 15px;
	}
}

@media screen and (min-width: 48em) {
	.cb-contact-form {
		left: calc(50% + 2em);
	}
}

@media screen and (min-width: 82em) {
	.cb-contact-form {
		right: calc((100% - 85em) / 2);
		left: calc(50% + 5em);
	}
}